/* Main stylesheet */

:root {
    --magenta: #dd0890;
    --ultraviolett: #4b0082;
    --turkosmint: #0de1ec;
    --ultramarin: #200c9c;
    --granitgra: #f0f0f0;
    --kolgra: #222222;
    --andesitgra: #6F6D6D;
    --ha-background: #1e1e1e;
    --choices-primary-color: #4b0082;
    --choices-item-color: #f0f0f0;
    --choices-bg-color: #1e1e1e;
    --choices-bg-color-dropdown: #1e1e1e;
    --choices-keyline-color: #3b3e40;
    --choices-bg-color-disabled: #181a1b;
    --choices-item-disabled-color: #eee;
    --choices-disabled-color: #2d2d2d;
    --choices-highlighted-color: rgb(90 59 120);
}

* {
    color : var(--granitgra);
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: var(--ha-background);
}

h1 {
    color: var(--granitgra);
    margin: 0;
    grid-area: hd;
    padding: 10px 20px 15px 20px;
    user-select: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    grid-template-areas: "hd" "." "as";
    border: solid 2px var(--andesitgra);
    background-color: var(--kolgra);
    border-radius: 16px;
    padding: 10px;
}


div#main-content {
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------*/

div.source-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    column-gap: 20px;
    row-gap: 10px;
    min-height: 30px;
    margin: 0 16px;
    padding: 10px 4px;
    border-top: solid 2px var(--andesitgra);
    grid-template-areas:
        "hd hd"
        "label1 label2"
        "select1 select2";
}

div.source-header {
    grid-area: hd;
    display: grid;
    grid-template-columns: auto 40px;
    grid-template-rows: min-content min-content;
    grid-template-areas: ". ." "url url";
}

div.source-header > input:first-child {
/*    header text*/
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

div.source-header > input:nth-child(2) {
    grid-area: url;
}

div.source-header > input {
    background: transparent;
    border: none;
    color: var(--granitgra);
}

div.checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.checkbox-container > label {
    align-self: center;
    user-select: none;
}


/*-----------------------------------------*/


aside {
    grid-area: as;
    display: flex;
    border: none;
}

aside > button {
    color: var(--granitgra);
    background-color: transparent;
    border: solid 2px var(--andesitgra);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    user-select: none;
}

aside > button:hover {
    border-color: var(--magenta)
}

aside > button[heavy] {
    border: none;
    background-color: var(--andesitgra);
}

aside > button[heavy]:hover {
    background-color: var(--magenta);
}

aside > button[heavy][success] {
    background-color: #00ff00;
    color: var(--kolgra);
}
