/* Main stylesheet */

:root {
    --magenta: #dd0890;
    --ultraviolett: #4b0082;
    --turkosmint: #0de1ec;
    --ultramarin: #200c9c;
    --granitgra: #f0f0f0;
    --kolgra: #222222;
    --andesitgra: #6F6D6D
}

* {
    color : var(--granitgra);
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--kolgra);
}

h1 {
    color: var(--granitgra);
    margin: 0;
    grid-area: hd;
    padding: 10px 20px 15px 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    grid-template-areas: "hd" "." "as";
}

main > * {
    border-radius: 8px;
    border: solid 2px var(--andesitgra);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);*/
}


div#main-content {
    display: flex;
    flex-direction: column;
}

a.feed-item {
    display: flex;
    margin: 0;
    padding: 2px;
    border: solid 2px var(--andesitgra);
    border-radius: 8px;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    align-self: center;
}
a.feed-item > label {
    margin: 0;
    padding: 0 5px;
}

a.feed-item[feed-enabled = "true"] {
    border-color: #00ff00;
}

a.feed-item[feed-enabled = "true"] > label {
    color: #00ff00;
}

a.feed-item[feed-enabled = "false"] {
    border-color: #ff0000;
}

a.feed-item[feed-enabled = "false"] > label {
    color: #ff0000;
}

a.feed-item > label {
    text-decoration: none;
}

a.feed-item > input {
    background: transparent;
    border: none;
    color: var(--granitgra);
}

/*-----------------------------------------*/

div.source-row#header-row {
    background-color: var(--andesitgra);
}

div.source-row#header-row > h2 {
    margin: 0;
    padding: 10px 0;
    color: var(--granitgra);
}

div.source-row {
    display: grid;
    grid-template-columns: 20% 23% 25% 25% 7%;
    min-height: 30px;
    padding: 0 20px;
}

div.source-row > input {
    background: transparent;
    border: none;
    color: var(--granitgra);
}

div.checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.checkbox-container > label {
    align-self: center;
}

div.checkbox-container > label > input {
    margin: 0 0 0 5px;
}

div.checkbox-container > label > input:checked {
    accent-color: green;

}

div.source-row > input[type="checkbox"] {
    background: var(--kolgra);
    margin: 0;
    accent-color: transparent;
    -webkit-appearance: none;
    border: solid 1px var(--andesitgra);
    height: 28px;
    width: 28px;
    align-self: center;
    justify-self: center;
}

div.source-row > input[type="checkbox"]:checked {
    accent-color: #FF0000;
    color: #FF0000;
    background-color: #FF0000;
    border-color: #FF0000;
}

div.source-row > input[type="checkbox"]:checked:before {
    content: "x";
    display: block;
    color: var(--granitgra);
    font-size: 28px;
    text-align: center;
    line-height: 28px;}


/*-----------------------------------------*/


aside {
    grid-area: as;
    display: flex;
    border: none;
}

aside > button {
    color: var(--granitgra);
    background-color: transparent;
    border: solid 2px var(--andesitgra);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

aside > button:hover {
    border-color: var(--magenta)
}

aside > button[heavy] {
    border: none;
    background-color: var(--andesitgra);
}

aside > button[heavy]:hover {
    background-color: var(--magenta);
}

aside > button[heavy][success] {
    background-color: #00ff00;
    color: var(--kolgra);
}
